.enable{
    --ion-background-color: white;
}
.disable{
    --ion-background-color:rgba(230, 224, 224, 0.32);
}
.header-background-color{
    --background: #4B7DB4;
  }
.borderline{
    border-bottom: 1px solid #c7c5c5;
}
.my-custom-class{ 
    --max-height:350px;
 }
